/* LAYOUT (Navbar, Footer, Headers) */

.navbar-custom {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    padding: 15px 0;
    backdrop-filter: blur(5px);
}

.navbar-brand img {
    height: 80px;
}

.nav-link {
    font-family: var(--font-heading);
    color: var(--text-dark) !important;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 2px;
    margin: 0 10px;
    text-transform: uppercase;
}

.nav-link:hover,
.nav-link.active {
    color: var(--deep-pink) !important;
}

/* Page Header (General for sub-pages) */
.page-header {
    height: 450px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -90px;
}

.header-content {
    position: relative;
    z-index: 2;
    width: 100%;
    text-align: center;
    padding-top: 150px;
}

.header-content p {
    font-family: var(--font-script);
    font-size: 2.5rem;
    font-weight: 400;
    color: #fff;
    margin-bottom: 0;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 15px var(--primary-pink);
    text-transform: none;
}

/* Footer Styles */
footer {
    background-color: var(--text-dark);
    color: #fff;
    padding: 70px 0 30px;
    margin-top: 80px;
}

footer h3 {
    font-family: var(--font-script);
    color: var(--primary-pink);
    font-size: 2rem;
    margin-bottom: 20px;
}

footer h4 {
    font-family: var(--font-heading);
    font-size: 1.1rem;
    margin-bottom: 20px;
    letter-spacing: 1px;
    border-bottom: 1px solid var(--deep-pink);
    display: inline-block;
    padding-bottom: 5px;
}

footer p, footer li {
    font-size: 0.9rem;
    color: #ccc;
}

footer .social-icons a {
    color: #fff;
    font-size: 1.2rem;
    margin: 0 10px;
    transition: 0.3s;
}

footer .social-icons a:hover {
    color: var(--primary-pink);
}

.footer-link {
    color: #ccc !important;
    text-decoration: none !important;
    display: inline-block;
}

.footer-link:hover {
    color: var(--primary-pink) !important;
    text-decoration: underline !important;
    text-underline-offset: 5px;
    transform: translateX(5px);
}

.footer-text-hover {
    color: #ccc;
    cursor: default;
    transition: all 0.3s ease;
}

.footer-text-hover:hover {
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.custom-toggler,
.custom-toggler:focus,
.custom-toggler:active {
    border: none !important;       
    outline: none !important;      
    box-shadow: none !important;   
}